POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password

DB_HOST=database
DB_PORT=5432
DB_DATABASE=app_db
DB_USERNAME=app_user
DB_PASSWORD=app_password

VITE_API_URL=/api
VITE_API_URL_PROD=/api
